//colors
@import './colorVariables';
// font-family
@import './fontVariables';
//externalVariables
@import './externalVariables';

* {
  margin: 0;
  box-sizing: border-box;
  font-family: $font;
}

p {
  font-family: $font;

}
h1 {
  font-family: $font;
}

h2 {
  font-family: $font;
}

h3 {
  font-family: $font;
}
h4 {
  font-family: $font;
}
h5 {
  font-family: $font;
}
h6 {
  font-family: $font;
}

a {
  font-family: $font;
}